# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY={{ SECRET_KEY }}

TRELLO_KEY={{ TRELLO_KEY }}
TRELLO_TOKEN={{ TRELLO_TOKEN }}
TRELLO_BOARD_ID={{ TRELLO_BOARD_ID }}
TRELLO_ID_LIST_TODO={{ TRELLO_ID_LIST_TODO }}
TRELLO_ID_LIST_DOING={{ TRELLO_ID_LIST_DOING }}
TRELLO_ID_LIST_DONE= {{ TRELLO_ID_LIST_DONE }}