{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To do List</h2>
      <table border="1" class="table table hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>STATUS</th>
            <th>ACTION</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>
          {% for item in view_model.items %}
          {% if item.status == 'to do' %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td><a class="btn btn-secondary btn-sm" href="/start_item/{{item.id}}" role="button">Start</a></td>
            <td><a class="btn btn-secondary btn-sm" href="/delete_item/{{item.id}}" role="button">Delete</a></td>
          </tr>
          {% elif item.status == 'doing' %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td><a class="btn btn-secondary btn-sm" href="/complete_item/{{item.id}}" role="button">Complete</a></td>
            <td><a class="btn btn-secondary btn-sm" href="/delete_item/{{item.id}}" role="button">Delete</a></td>
          </tr>
          {% elif item.status == 'done' %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td><a class="btn btn-secondary btn-sm" href="/incomplete_item/{{item.id}}" role="button">Incomplete</a></td>
            <td><a class="btn btn-secondary btn-sm" href="/delete_item/{{item.id}}" role="button">Delete</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table><br><br>

      <h2>Add New Item</h2>
      <form action="/add" method="post" class="form-example">
        <div class="form-example">
        <label for="title">Enter Title</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>

{% endblock %}